* {
 border: 0px solid red;
 box-sizing: border-box;
}

@font-face {
 font-family: NorseBold;
 src: url("assets/Norse-Bold.otf");
}

body, html {
 padding: 0;
 margin: 0;

 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
 color: #596D48;
 text-decoration: none;
 font-weight: bold;
}

.body-container {
 display: flex;
 flex-direction: row;

 margin: 0;
 height: 100vh;
}

.form-container {
 display: flex;
 flex-direction: column;
 flex-grow: 1;

 background-color: #f7f7f7;
}

.hero-text {
 margin-top: 10vh;
 margin-bottom: 10vh;
 width: 100%;
 padding: 0 30px;

 font-size: 24px;
 font-weight: bold;
}

form {
 padding: 0;
 margin-bottom: 30px;
}

.fields {
 background-color: white;
 padding: 30px;
 box-shadow: 0 2px 5px -5px;
 margin-bottom: 30px;
}

.fields > div {
 display: flex;
 flex-direction: row;
}

label {
 display: flex;
 flex-direction: column;

 margin-right: 30px;
 margin-bottom: 20px;

 font-size: 0.95rem;
 color: #494a4b;
 text-shadow: 1px 1px 1px #d3d2d2;
}

input {
 appearance: none;
 border: 2px solid #E5E7EB;
 border-radius: 3px;

 padding: 5px;

 font-size: 1rem
}

input:active,
input:focus,
input:focus-visible {
 outline: 0;
 border-color:  #7591c9;
 box-shadow: 1px 1px 3px #d3d2d2;
}

input:invalid {
 border-color: rgb(212, 78, 78)
}

button {
 padding: 10px 30px;
 margin-left: 30px;

 background-color: #596D48;
 box-shadow: 0px 2px 5px black;
 color: white;
 font-weight: bold;

 
 border-radius: 4px;
}

.log-in {
 padding-left: 30px;
 margin-bottom: auto;
}

.image-container {
 position: relative;
 background-image: url("assets/photo-1585202900225-6d3ac20a6962.avif");
 background-size: auto;
 background-repeat: no-repeat;
 width: min(40vw, 647px);
 height: 100%;

 display: flex;
}

.image-container > span {
 color: white;
 align-self: flex-end;
 margin: 10px auto;
}

.logo-container {
 padding: 20px 0;

 width: 100%;
 height: 15%;

 position: absolute;
 top: 25%;
 background-color: rgba(0, 0, 0, 0.6);
 
 display: flex;
 flex-grow: 1;
 justify-content: space-around;
}

.logo {
 display: flex;
 flex-shrink: 1;
 align-items: center;
}

.logo > img {
 width: auto;
 height: min(calc(10px + 10vw), 7rem);

 margin-left: auto;
}

.logo > span {
 color: white;
 font-family: NorseBold;
 font-size: min(calc(10px + 10vw), 7rem);
 margin-right: auto;
}